In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, \
    confusion_matrix, classification_report

from sklearn.metrics import roc_auc_score, plot_roc_curve, roc_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve,plot_precision_recall_curve

from sklearn.model_selection import learning_curve

from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

from sklearn.inspection import permutation_importance

# premiers model de regression lineaire

## dummy model

In [2]:
immo_df = pd.read_csv("immo_df2.csv")
immo_df

,index,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,localisation
0,2072.0,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,4.0
1,10600.0,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,3.0
2,2494.0,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,4.0
3,4284.0,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,3.0
4,16541.0,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,4.0
...,...,...,...,...,...,...,...,...,...
16507,1099.0,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,4.0
16508,18898.0,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,2.0
16509,11798.0,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,4.0
16510,6637.0,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,3.0
16511,2575.0,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,1.0

In [3]:
y = immo_df["median_house_value"]
X = immo_df.drop("median_house_value", axis=1)

In [4]:
# instantiate Dummy classifier
dummy_clf = DummyClassifier(strategy="most_frequent")

# fit the modem
dummy_clf.fit(X, y)

# calculate the score
dummy_clf.score(X, y)

0.04620881782945736

In [5]:
# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=1)

In [6]:
dummy_clf = DummyClassifier(strategy="most_frequent")

# fit the modem
dummy_clf.fit(X_train, y_train)

# calculate the score
dummy_clf.score(X_test, y_test)

0.04400484457004441

In [13]:
# Splitting the data
X3_train, X3_test, y3_train, y3_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=4)

dummy_clf3 = DummyClassifier(strategy="most_frequent")

# fit the modem
dummy_clf3.fit(X3_train, y3_train)

# calculate the score
dummy_clf3.score(X3_test, y3_test)

0.04804198627371821

In [12]:
# Splitting the data
X2_train, X2_test, y2_train, y2_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=5)

dummy_clf2 = DummyClassifier(strategy="most_frequent")

# fit the modem
dummy_clf2.fit(X2_train, y2_train)

# calculate the score
dummy_clf2.score(X2_test, y2_test)

0.04481227291077917

## dummy model cross_validate

In [14]:
# Instanciate model
dummy_clf_c = DummyClassifier(strategy="most_frequent")

# 5-Fold Cross validate model
cv_results = cross_validate(dummy_clf_c, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()

/home/alicia/.pyenv/versions/3.8.12/envs/simplon/lib/python3.8/site-packages/sklearn/model_selection/_split.py:684: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

0.046208804176149545

## LinearRegression

In [17]:
# Splitting the data
X4_train, X4_test, y4_train, y4_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X4_train, y4_train)

# Evaluate the model with the test set
model.score(X4_test, y4_test)

0.6055205257293557

In [18]:


# 5-Fold Cross validate model
cv_results = cross_validate(model, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()

0.6109044160472487