In [800]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, \
    confusion_matrix, classification_report

from sklearn.metrics import roc_auc_score, plot_roc_curve, roc_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve,plot_precision_recall_curve

from sklearn.model_selection import learning_curve

from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

from sklearn.inspection import permutation_importance
from sklearn import metrics

# premiers model de regression lineaire

In [801]:
immo_df = pd.read_csv("base_line.csv")
immo_df

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [802]:
y = immo_df["median_house_value"]
X = immo_df.copy()

In [803]:
X= X.drop("median_house_value", axis=1)
X

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,INLAND
...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,INLAND
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,NEAR BAY
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,INLAND
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,<1H OCEAN
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,NEAR OCEAN

In [804]:
X= X.drop("ocean_proximity", axis=1)
X

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815
...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478

## dummy model

In [805]:
'''# instantiate Dummy classifier
dummy_clf = DummyClassifier(strategy="most_frequent")

# fit the modem
dummy_clf.fit(X, y)

# calculate the score
dummy_clf.score(X, y)'''

'# instantiate Dummy classifier\ndummy_clf = DummyClassifier(strategy="most_frequent")\n\n# fit the modem\ndummy_clf.fit(X, y)\n\n# calculate the score\ndummy_clf.score(X, y)'

In [806]:
'''# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=1)'''

'# Splitting the data\nX_train, X_test, y_train, y_test = train_test_split(X, y, \n                                                    test_size=.3, \n                                                    random_state=1)'

In [807]:
'''dummy_clf = DummyClassifier(strategy="most_frequent")

# fit the modem
dummy_clf.fit(X_train, y_train)

# calculate the score
dummy_clf.score(X_test, y_test)'''

'dummy_clf = DummyClassifier(strategy="most_frequent")\n\n# fit the modem\ndummy_clf.fit(X_train, y_train)\n\n# calculate the score\ndummy_clf.score(X_test, y_test)'

In [808]:
'''# Splitting the data
X3_train, X3_test, y3_train, y3_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=4)

dummy_clf3 = DummyClassifier(strategy="most_frequent")

# fit the modem
dummy_clf3.fit(X3_train, y3_train)

# calculate the score
dummy_clf3.score(X3_test, y3_test)'''

'# Splitting the data\nX3_train, X3_test, y3_train, y3_test = train_test_split(X, y, \n                                                    test_size=.3, \n                                                    random_state=4)\n\ndummy_clf3 = DummyClassifier(strategy="most_frequent")\n\n# fit the modem\ndummy_clf3.fit(X3_train, y3_train)\n\n# calculate the score\ndummy_clf3.score(X3_test, y3_test)'

In [809]:
'''# Splitting the data
X2_train, X2_test, y2_train, y2_test = train_test_split(X, y, 
                                                    test_size=.3, 
                                                    random_state=5)

dummy_clf2 = DummyClassifier(strategy="most_frequent")

# fit the modem
dummy_clf2.fit(X2_train, y2_train)

# calculate the score
dummy_clf2.score(X2_test, y2_test)'''

'# Splitting the data\nX2_train, X2_test, y2_train, y2_test = train_test_split(X, y, \n                                                    test_size=.3, \n                                                    random_state=5)\n\ndummy_clf2 = DummyClassifier(strategy="most_frequent")\n\n# fit the modem\ndummy_clf2.fit(X2_train, y2_train)\n\n# calculate the score\ndummy_clf2.score(X2_test, y2_test)'

## dummy model cross_validate

In [810]:
'''# Instanciate model
dummy_clf_c = DummyClassifier(strategy="most_frequent")

# 5-Fold Cross validate model
cv_results = cross_validate(dummy_clf_c, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()'''

'# Instanciate model\ndummy_clf_c = DummyClassifier(strategy="most_frequent")\n\n# 5-Fold Cross validate model\ncv_results = cross_validate(dummy_clf_c, X, y, cv=5)\n\n# obtain the mean of scores\ncv_results[\'test_score\'].mean()'

Le dummy modele resultat nul

## LinearRegression

In [811]:
'''# Splitting the data
X4_train, X4_test, y4_train, y4_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X4_train, y4_train)

# Evaluate the model with the test set
model.score(X4_test, y4_test)'''

'# Splitting the data\nX4_train, X4_test, y4_train, y4_test = train_test_split(X, y, test_size=.3, random_state=1)\n\n# Choose your model\nmodel = LinearRegression()\n\n# Fit the model with the train set\nmodel.fit(X4_train, y4_train)\n\n# Evaluate the model with the test set\nmodel.score(X4_test, y4_test)'

In [812]:
'''y_predicted = model.predict(X4_test)'''

'y_predicted = model.predict(X4_test)'

In [813]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y4_test, edgecolors=(0, 0, 1))
ax.plot([y4_test.min(), y4_test.max()], [y4_test.min(), y4_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y4_test, edgecolors=(0, 0, 1))\nax.plot([y4_test.min(), y4_test.max()], [y4_test.min(), y4_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [814]:
'''# model evaluation for testing set

mae = metrics.mean_absolute_error(y4_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y4_test, y_predicted))
r2 = metrics.r2_score(y4_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'# model evaluation for testing set\n\nmae = metrics.mean_absolute_error(y4_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y4_test, y_predicted))\nr2 = metrics.r2_score(y4_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [815]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print('Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)
'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\'Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)\n'

MAE, MSE doit etre faible, r2 doit etre proche de 1

# second model de regression lineaire

In [816]:
immo_df2 = pd.read_csv("immo_iteration2.csv")
immo_df2

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,localisation
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND,4
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN,3
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND,4
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN,3
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND,4
...,...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND,4
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY,2
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND,4
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN,3
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN,1

In [817]:
'''y = immo_df2["median_house_value"]
X = immo_df2.copy()'''

'y = immo_df2["median_house_value"]\nX = immo_df2.copy()'

In [818]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

In [819]:
'''X= X.drop("ocean_proximity", axis=1)
X'''

'X= X.drop("ocean_proximity", axis=1)\nX'

## Linear Regression

In [820]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)
'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)\n'

In [821]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [822]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [823]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [824]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)
'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)\n'

# troisiéme model de regression lineaire

In [825]:
'''immo_df3 = pd.read_csv("immo_iteration3.csv")
immo_df3'''

'immo_df3 = pd.read_csv("immo_iteration3.csv")\nimmo_df3'

In [826]:
'''y = immo_df3["median_house_value"]
X = immo_df3.copy()'''

'y = immo_df3["median_house_value"]\nX = immo_df3.copy()'

In [827]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [828]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [829]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [830]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [831]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [832]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)
'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)\n'

# quatrieme model de regression lineaire

In [833]:
'''immo_df4 = pd.read_csv("immo_iteration4.csv")
immo_df4'''

'immo_df4 = pd.read_csv("immo_iteration4.csv")\nimmo_df4'

In [834]:
'''y = immo_df4["median_house_value"]
X = immo_df4.copy()'''

'y = immo_df4["median_house_value"]\nX = immo_df4.copy()'

In [835]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [836]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [837]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [838]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [839]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [840]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)
'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)\n'

# cinquieme model de regression lineaire

In [841]:
immo_df5 = pd.read_csv("immo_iteration5.csv")
immo_df5

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,0.100392,0.449203,0.449522,0.098039,0.046981,0.073103,0.039071,0.068257,0.067709,0.0,1.0,0.0,0.0,0.0,0.117527
1,0.513591,0.652390,0.121148,0.137255,0.051534,0.053857,0.024076,0.055592,0.442297,1.0,0.0,0.0,0.0,0.0,0.534227
2,0.120839,0.414343,0.431456,0.470588,0.022104,0.032904,0.026010,0.034868,0.072668,0.0,1.0,0.0,0.0,0.0,0.089280
3,0.207568,0.600598,0.165781,0.588235,0.015669,0.035232,0.016648,0.037007,0.070930,1.0,0.0,0.0,0.0,0.0,0.381444
4,0.801444,0.310757,0.557917,0.392157,0.048736,0.057582,0.031587,0.060855,0.247003,0.0,1.0,0.0,0.0,0.0,0.212166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,0.053249,0.244024,0.749203,0.372549,0.037111,0.042837,0.020797,0.040789,0.176729,0.0,1.0,0.0,0.0,0.0,0.162476
16508,0.915645,0.209163,0.591923,0.941176,0.060004,0.077914,0.031615,0.075000,0.145750,0.0,0.0,0.0,1.0,0.0,0.181651
16509,0.571636,0.311753,0.678002,0.352941,0.064226,0.071240,0.033717,0.070230,0.275576,0.0,1.0,0.0,0.0,0.0,0.366186
16510,0.321576,0.618526,0.172157,0.745098,0.070458,0.130064,0.071274,0.126809,0.143108,1.0,0.0,0.0,0.0,0.0,0.285568
16511,0.124764,0.021912,0.877790,0.588235,0.054586,0.071395,0.035203,0.068750,0.120543,0.0,0.0,0.0,0.0,1.0,0.136290

In [842]:
'''y = immo_df5["median_house_value"]
X = immo_df5.copy()'''

'y = immo_df5["median_house_value"]\nX = immo_df5.copy()'

In [843]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [844]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [845]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [846]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [847]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [848]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)
'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)\n'

# 6eme model de regression lineaire

In [849]:
immo_df6 = pd.read_csv("immo_iteration6.csv")
immo_df6

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,2072.0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,0.0,1.0,0.0,0.0,0.0,72000.0
1,10600.0,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,1.0,0.0,0.0,0.0,0.0,274100.0
2,2494.0,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,0.0,1.0,0.0,0.0,0.0,58300.0
3,4284.0,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,1.0,0.0,0.0,0.0,0.0,200000.0
4,16541.0,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,0.0,1.0,0.0,0.0,0.0,117900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,1099.0,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,0.0,1.0,0.0,0.0,0.0,93800.0
16506,18898.0,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,0.0,0.0,0.0,1.0,0.0,103100.0
16507,11798.0,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,0.0,1.0,0.0,0.0,0.0,192600.0
16508,6637.0,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,1.0,0.0,0.0,0.0,0.0,153500.0
16509,2575.0,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,0.0,0.0,0.0,0.0,1.0,81100.0

In [850]:
'''y = immo_df6["median_house_value"]
X = immo_df6.copy()'''

'y = immo_df6["median_house_value"]\nX = immo_df6.copy()'

In [851]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [852]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [853]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [854]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [855]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [856]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)'

# 7 model de regression lineaire

In [857]:
immo_df7 = pd.read_csv("immo_iteration7.csv")
immo_df7

,index,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,2072.0,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,0.0,1.0,0.0,0.0,0.0,72000.0
1,10600.0,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,1.0,0.0,0.0,0.0,0.0,274100.0
2,2494.0,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,0.0,1.0,0.0,0.0,0.0,58300.0
3,4284.0,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,1.0,0.0,0.0,0.0,0.0,200000.0
4,16541.0,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,0.0,1.0,0.0,0.0,0.0,117900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,1099.0,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,0.0,1.0,0.0,0.0,0.0,93800.0
16506,18898.0,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,0.0,0.0,0.0,1.0,0.0,103100.0
16507,11798.0,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,0.0,1.0,0.0,0.0,0.0,192600.0
16508,6637.0,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,1.0,0.0,0.0,0.0,0.0,153500.0
16509,2575.0,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,0.0,0.0,0.0,0.0,1.0,81100.0

In [858]:
'''y = immo_df7["median_house_value"]
X = immo_df7.copy()'''

'y = immo_df7["median_house_value"]\nX = immo_df7.copy()'

In [859]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [860]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [861]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [862]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [863]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [864]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)
'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)\n'

# 8 model de regression lineaire

In [865]:
immo_df8 = pd.read_csv("immo_iteration8.csv")
immo_df8

,index,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,2072.0,-119.84,6.0,1853.0,473.0,1397.0,417.0,1.4817,0.0,1.0,0.0,0.0,0.0,72000.0
1,10600.0,-117.80,8.0,2032.0,349.0,862.0,340.0,6.9133,1.0,0.0,0.0,0.0,0.0,274100.0
2,2494.0,-120.19,25.0,875.0,214.0,931.0,214.0,1.5536,0.0,1.0,0.0,0.0,0.0,58300.0
3,4284.0,-118.32,31.0,622.0,229.0,597.0,227.0,1.5284,1.0,0.0,0.0,0.0,0.0,200000.0
4,16541.0,-121.23,21.0,1922.0,373.0,1130.0,372.0,4.0815,0.0,1.0,0.0,0.0,0.0,117900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,1099.0,-121.90,20.0,1465.0,278.0,745.0,250.0,3.0625,0.0,1.0,0.0,0.0,0.0,93800.0
16506,18898.0,-122.25,49.0,2365.0,504.0,1131.0,458.0,2.6133,0.0,0.0,0.0,1.0,0.0,103100.0
16507,11798.0,-121.22,19.0,2531.0,461.0,1206.0,429.0,4.4958,0.0,1.0,0.0,0.0,0.0,192600.0
16508,6637.0,-118.14,39.0,2776.0,840.0,2546.0,773.0,2.5750,1.0,0.0,0.0,0.0,0.0,153500.0
16509,2575.0,-124.13,31.0,2152.0,462.0,1259.0,420.0,2.2478,0.0,0.0,0.0,0.0,1.0,81100.0

In [866]:
'''y = immo_df8["median_house_value"]
X = immo_df8.copy()'''

'y = immo_df8["median_house_value"]\nX = immo_df8.copy()'

In [867]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [868]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [869]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [870]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [871]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [872]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)'

# 8 model de regression lineaire

In [873]:
immo_df9 = pd.read_csv("immo_iteration9.csv")
immo_df9

,index,latitude,housing_median_age,population,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,2072.0,36.77,6.0,1397.0,1.4817,0.0,1.0,0.0,0.0,0.0,72000.0
1,10600.0,33.68,8.0,862.0,6.9133,1.0,0.0,0.0,0.0,0.0,274100.0
2,2494.0,36.60,25.0,931.0,1.5536,0.0,1.0,0.0,0.0,0.0,58300.0
3,4284.0,34.10,31.0,597.0,1.5284,1.0,0.0,0.0,0.0,0.0,200000.0
4,16541.0,37.79,21.0,1130.0,4.0815,0.0,1.0,0.0,0.0,0.0,117900.0
...,...,...,...,...,...,...,...,...,...,...,...
16505,1099.0,39.59,20.0,745.0,3.0625,0.0,1.0,0.0,0.0,0.0,93800.0
16506,18898.0,38.11,49.0,1131.0,2.6133,0.0,0.0,0.0,1.0,0.0,103100.0
16507,11798.0,38.92,19.0,1206.0,4.4958,0.0,1.0,0.0,0.0,0.0,192600.0
16508,6637.0,34.16,39.0,2546.0,2.5750,1.0,0.0,0.0,0.0,0.0,153500.0
16509,2575.0,40.80,31.0,1259.0,2.2478,0.0,0.0,0.0,0.0,1.0,81100.0

In [874]:
'''y = immo_df9["median_house_value"]
X = immo_df9.copy()'''

'y = immo_df9["median_house_value"]\nX = immo_df9.copy()'

In [875]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [876]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [877]:
y_predicted = model.predict(X_test)

In [878]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [879]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [880]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)
'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)\n'

# 10 model de regression lineaire

In [881]:
'''immo_df10 = pd.read_csv("immo_iteration10.csv")
immo_df10'''

'immo_df10 = pd.read_csv("immo_iteration10.csv")\nimmo_df10'

In [882]:
'''y = immo_df10["median_house_value"]
X = immo_df10.copy()'''

'y = immo_df10["median_house_value"]\nX = immo_df10.copy()'

In [883]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [884]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [885]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [886]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [887]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [888]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)'

# 11 model de regression lineaire

In [889]:
immo_df11 = pd.read_csv("immo_iteration11.csv")
immo_df11

,index,longitude,latitude,housing_median_age,total_bedrooms,population,room_per_households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,0.100392,0.449203,0.449522,0.098039,0.077852,0.085511,0.027318,0.067709,0.0,1.0,0.0,0.0,0.0
1,0.513591,0.652390,0.121148,0.137255,0.057921,0.052693,0.038958,0.442297,1.0,0.0,0.0,0.0,0.0
2,0.120839,0.414343,0.431456,0.470588,0.036221,0.056926,0.024624,0.072668,0.0,1.0,0.0,0.0,0.0
3,0.207568,0.600598,0.165781,0.588235,0.038632,0.036437,0.014382,0.070930,1.0,0.0,0.0,0.0,0.0
4,0.801444,0.310757,0.557917,0.392157,0.061778,0.069133,0.032809,0.247003,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,0.053249,0.244024,0.749203,0.372549,0.046508,0.045516,0.038074,0.176729,0.0,1.0,0.0,0.0,0.0
16506,0.915645,0.209163,0.591923,0.941176,0.082835,0.069194,0.032787,0.145750,0.0,0.0,0.0,1.0,0.0
16507,0.571636,0.311753,0.678002,0.352941,0.075923,0.073795,0.038376,0.275576,0.0,1.0,0.0,0.0,0.0
16508,0.321576,0.618526,0.172157,0.745098,0.136843,0.155993,0.020845,0.143108,1.0,0.0,0.0,0.0,0.0
16509,0.124764,0.021912,0.877790,0.588235,0.076084,0.077046,0.032483,0.120543,0.0,0.0,0.0,0.0,1.0

In [890]:
'''y = immo_df10["median_house_value"]
X = immo_df11.copy()'''

'y = immo_df10["median_house_value"]\nX = immo_df11.copy()'

## Linear Regression

In [891]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [892]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [893]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [894]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [895]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)'

# 12 model de regression lineaire

In [896]:
immo_df12 = pd.read_csv("immo_iteration12.csv")
immo_df12

,index,longitude,latitude,housing_median_age,total_bedrooms,population,room_per_households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-0.798353,-0.357143,0.666667,-1.210526,0.108262,0.241116,-0.486265,-0.944179,0.0,1.0,0.0,0.0,0.0
1,0.032796,0.182540,-0.150794,-1.105263,-0.245014,-0.322190,0.467892,1.557969,1.0,0.0,0.0,0.0,0.0
2,-0.757224,-0.449735,0.621693,-0.210526,-0.629630,-0.249539,-0.707159,-0.911057,0.0,1.0,0.0,0.0,0.0
3,-0.582769,0.044974,-0.039683,0.105263,-0.586895,-0.601211,-1.546699,-0.922666,1.0,0.0,0.0,0.0,0.0
4,0.611812,-0.724868,0.936508,-0.421053,-0.176638,-0.040011,-0.036197,0.253458,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,-0.893183,-0.902116,1.412698,-0.473684,-0.447293,-0.445380,0.395391,-0.215960,0.0,1.0,0.0,0.0,0.0
16506,0.841528,-0.994709,1.021164,1.052632,0.196581,-0.038958,-0.038009,-0.422890,0.0,0.0,0.0,1.0,0.0
16507,0.149554,-0.722222,1.235450,-0.526316,0.074074,0.040011,0.420145,0.444311,0.0,1.0,0.0,0.0,0.0
16508,-0.353443,0.092593,-0.023810,0.526316,1.153846,1.450908,-1.016895,-0.440534,1.0,0.0,0.0,0.0,0.0
16509,-0.749330,-1.492063,1.732804,0.105263,0.076923,0.095815,-0.062875,-0.591263,0.0,0.0,0.0,0.0,1.0

In [897]:
'''y = immo_df10["median_house_value"]
X = immo_df12.copy()'''

'y = immo_df10["median_house_value"]\nX = immo_df12.copy()'

In [898]:
'''y = immo_df10["median_house_value"]
X = immo_df12.copy()'''

'y = immo_df10["median_house_value"]\nX = immo_df12.copy()'

## Linear Regression

In [899]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [900]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [901]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [902]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [903]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)
'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)\n'

# 13 model de regression lineaire

In [904]:
immo_df13 = pd.read_csv("immo_iteration13.csv")
immo_df13

,index,longitude,latitude,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value,housing_median_age,total_bedrooms,population,room_per_households,median_income
0,2072.0,-119.84,36.77,0.0,1.0,0.0,0.0,0.0,72000.0,-1.210526,0.108262,0.241116,-0.486265,-0.944179
1,10600.0,-117.80,33.68,1.0,0.0,0.0,0.0,0.0,274100.0,-1.105263,-0.245014,-0.322190,0.467892,1.557969
2,2494.0,-120.19,36.60,0.0,1.0,0.0,0.0,0.0,58300.0,-0.210526,-0.629630,-0.249539,-0.707159,-0.911057
3,4284.0,-118.32,34.10,1.0,0.0,0.0,0.0,0.0,200000.0,0.105263,-0.586895,-0.601211,-1.546699,-0.922666
4,16541.0,-121.23,37.79,0.0,1.0,0.0,0.0,0.0,117900.0,-0.421053,-0.176638,-0.040011,-0.036197,0.253458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,1099.0,-121.90,39.59,0.0,1.0,0.0,0.0,0.0,93800.0,-0.473684,-0.447293,-0.445380,0.395391,-0.215960
16506,18898.0,-122.25,38.11,0.0,0.0,0.0,1.0,0.0,103100.0,1.052632,0.196581,-0.038958,-0.038009,-0.422890
16507,11798.0,-121.22,38.92,0.0,1.0,0.0,0.0,0.0,192600.0,-0.526316,0.074074,0.040011,0.420145,0.444311
16508,6637.0,-118.14,34.16,1.0,0.0,0.0,0.0,0.0,153500.0,0.526316,1.153846,1.450908,-1.016895,-0.440534
16509,2575.0,-124.13,40.80,0.0,0.0,0.0,0.0,1.0,81100.0,0.105263,0.076923,0.095815,-0.062875,-0.591263

In [905]:
'''y = immo_df13["median_house_value"]
X = immo_df13.copy()'''

'y = immo_df13["median_house_value"]\nX = immo_df13.copy()'

In [906]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [907]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [908]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [909]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [910]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [911]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)'

# 14 model de regression lineaire

In [912]:
immo_df14 = pd.read_csv("immo_iteration14.csv")
immo_df14

,index,longitude,latitude,housing_median_age,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value,total_bedrooms_log,median_income_log,population_log,room_per_households_log
0,2072.0,-119.84,36.77,6.0,0.0,1.0,0.0,0.0,0.0,72000.0,6.159095,0.393190,7.242082,1.491475
1,10600.0,-117.80,33.68,8.0,1.0,0.0,0.0,0.0,0.0,274100.0,5.855072,1.933447,6.759255,1.787830
2,2494.0,-120.19,36.60,25.0,0.0,1.0,0.0,0.0,0.0,58300.0,5.365976,0.440575,6.836259,1.408248
3,4284.0,-118.32,34.10,31.0,1.0,0.0,0.0,0.0,0.0,200000.0,5.433722,0.424221,6.391917,1.007990
4,16541.0,-121.23,37.79,21.0,0.0,1.0,0.0,0.0,0.0,117900.0,5.921578,1.406465,7.029973,1.642228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,1099.0,-121.90,39.59,20.0,0.0,1.0,0.0,0.0,0.0,93800.0,5.627621,1.119232,6.613384,1.768150
16506,18898.0,-122.25,38.11,49.0,0.0,0.0,0.0,1.0,0.0,103100.0,6.222576,0.960614,7.030857,1.641664
16507,11798.0,-121.22,38.92,19.0,0.0,1.0,0.0,0.0,0.0,192600.0,6.133398,1.503144,7.095064,1.774913
16508,6637.0,-118.14,34.16,39.0,1.0,0.0,0.0,0.0,0.0,153500.0,6.733402,0.945850,7.842279,1.278487
16509,2575.0,-124.13,40.80,31.0,0.0,0.0,0.0,0.0,1.0,81100.0,6.135565,0.809952,7.138073,1.633898

In [913]:
'''y = immo_df14["median_house_value"]
X = immo_df14.copy()'''

'y = immo_df14["median_house_value"]\nX = immo_df14.copy()'

In [914]:
'''X= X.drop("median_house_value", axis=1)
X'''

'X= X.drop("median_house_value", axis=1)\nX'

## Linear Regression

In [915]:
'''X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)'''

'X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)\n\nmodel = LinearRegression()\n\nmodel.fit(X_train, y_train)\n\nmodel.score(X_test, y_test)'

In [916]:
'''y_predicted = model.predict(X_test)'''

'y_predicted = model.predict(X_test)'

In [917]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [918]:
'''mae = metrics.mean_absolute_error(y_test, y_predicted)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))
r2 = metrics.r2_score(y_test, y_predicted)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))'''

'mae = metrics.mean_absolute_error(y_test, y_predicted)\nrmse = np.sqrt(metrics.mean_squared_error(y_test, y_predicted))\nr2 = metrics.r2_score(y_test, y_predicted)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'MAE is {}\'.format(mae))\nprint(\'RMSE is {}\'.format(rmse))\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [919]:
'''scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', average_mae)
print(' Average RMSE: ', average_rmse)
print("Average R2: ", average_r2)'''

'scores = cross_validate(model, X, y, cv=5, scoring=(\'r2\', \'neg_root_mean_squared_error\',\'neg_mean_absolute_error\'))\n\naverage_r2 = scores[\'test_r2\'].mean()\naverage_rmse = -scores[\'test_neg_root_mean_squared_error\'].mean()\naverage_mae = -scores[\'test_neg_mean_absolute_error\'].mean()\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'Average MAE:\', average_mae)\nprint(\' Average RMSE: \', average_rmse)\nprint("Average R2: ", average_r2)'

# 14 model de regression lineaire

In [920]:
immo_df15 = pd.read_csv("immo_iteration15.csv")
immo_df15

,index,longitude,latitude,housing_median_age,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,total_bedrooms_log,median_income_log,population_log,room_per_households_log,median_house_value_log
0,2072.0,-119.84,36.77,6.0,0.0,1.0,0.0,0.0,0.0,6.159095,0.393190,7.242082,1.491475,11.184421
1,10600.0,-117.80,33.68,8.0,1.0,0.0,0.0,0.0,0.0,5.855072,1.933447,6.759255,1.787830,12.521248
2,2494.0,-120.19,36.60,25.0,0.0,1.0,0.0,0.0,0.0,5.365976,0.440575,6.836259,1.408248,10.973357
3,4284.0,-118.32,34.10,31.0,1.0,0.0,0.0,0.0,0.0,5.433722,0.424221,6.391917,1.007990,12.206073
4,16541.0,-121.23,37.79,21.0,0.0,1.0,0.0,0.0,0.0,5.921578,1.406465,7.029973,1.642228,11.677592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,1099.0,-121.90,39.59,20.0,0.0,1.0,0.0,0.0,0.0,5.627621,1.119232,6.613384,1.768150,11.448920
16506,18898.0,-122.25,38.11,49.0,0.0,0.0,0.0,1.0,0.0,6.222576,0.960614,7.030857,1.641664,11.543455
16507,11798.0,-121.22,38.92,19.0,0.0,1.0,0.0,0.0,0.0,6.133398,1.503144,7.095064,1.774913,12.168371
16508,6637.0,-118.14,34.16,39.0,1.0,0.0,0.0,0.0,0.0,6.733402,0.945850,7.842279,1.278487,11.941456
16509,2575.0,-124.13,40.80,31.0,0.0,0.0,0.0,0.0,1.0,6.135565,0.809952,7.138073,1.633898,11.303438

In [921]:
y = immo_df15["median_house_value_log"]
X = immo_df15.copy()

In [922]:
X= X.drop("median_house_value_log", axis=1)
X

,index,longitude,latitude,housing_median_age,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,total_bedrooms_log,median_income_log,population_log,room_per_households_log
0,2072.0,-119.84,36.77,6.0,0.0,1.0,0.0,0.0,0.0,6.159095,0.393190,7.242082,1.491475
1,10600.0,-117.80,33.68,8.0,1.0,0.0,0.0,0.0,0.0,5.855072,1.933447,6.759255,1.787830
2,2494.0,-120.19,36.60,25.0,0.0,1.0,0.0,0.0,0.0,5.365976,0.440575,6.836259,1.408248
3,4284.0,-118.32,34.10,31.0,1.0,0.0,0.0,0.0,0.0,5.433722,0.424221,6.391917,1.007990
4,16541.0,-121.23,37.79,21.0,0.0,1.0,0.0,0.0,0.0,5.921578,1.406465,7.029973,1.642228
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,1099.0,-121.90,39.59,20.0,0.0,1.0,0.0,0.0,0.0,5.627621,1.119232,6.613384,1.768150
16506,18898.0,-122.25,38.11,49.0,0.0,0.0,0.0,1.0,0.0,6.222576,0.960614,7.030857,1.641664
16507,11798.0,-121.22,38.92,19.0,0.0,1.0,0.0,0.0,0.0,6.133398,1.503144,7.095064,1.774913
16508,6637.0,-118.14,34.16,39.0,1.0,0.0,0.0,0.0,0.0,6.733402,0.945850,7.842279,1.278487
16509,2575.0,-124.13,40.80,31.0,0.0,0.0,0.0,0.0,1.0,6.135565,0.809952,7.138073,1.633898

## Linear Regression

In [923]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

model = LinearRegression()

model.fit(X_train, y_train)

'''model.score(X_test, y_test)'''

'model.score(X_test, y_test)'

In [924]:
'''y_predicted_log = model.predict(X_test)'''

'y_predicted_log = model.predict(X_test)'

In [925]:
'''fig, ax = plt.subplots()
ax.scatter(y_predicted_log, y_test, edgecolors=(0, 0, 1))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)
ax.set_xlabel('Predicted')
ax.set_ylabel('Actual')
plt.show()'''

"fig, ax = plt.subplots()\nax.scatter(y_predicted_log, y_test, edgecolors=(0, 0, 1))\nax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=3)\nax.set_xlabel('Predicted')\nax.set_ylabel('Actual')\nplt.show()"

In [926]:
'''r2 = metrics.r2_score(y_test, y_predicted_log)

print("The model performance for testing set")
print("--------------------------------------")
print('R2 score is {}'.format(r2))'''

'r2 = metrics.r2_score(y_test, y_predicted_log)\n\nprint("The model performance for testing set")\nprint("--------------------------------------")\nprint(\'R2 score is {}\'.format(r2))'

## Cross validation

In [927]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

scores = cross_validate(model, X, y, cv=5)
predictions = model.predict(X)
predictions_original_scale = np.exp(predictions)
y_original_scale = np.exp(y)

average_r2_real=scores['test_score'].mean()
rmse_real = np.sqrt(mean_squared_error(y_original_scale, predictions_original_scale))
mae_real = mean_absolute_error(y_original_scale, predictions_original_scale)

print("The model performance for testing set")
print("--------------------------------------")
print('Average MAE:', mae_real)
print(' Average RMSE: ', rmse_real)
print("Average R2: ", average_r2_real)

The model performance for testing set
--------------------------------------
Average MAE: 45768.771066657246
 Average RMSE:  65877.24193007796
Average R2:  0.6942661036699983

In [928]:
# save the model to disk
filename = 'linear_regression.pkl'
pickle.dump(model, open(filename, 'wb'))